.header, .image-container,.btn{
    display: flex;
    justify-content: center;
}
body{
    background: #a0f1f7;
}
h1, h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#one, #two, #three {
    padding: 15px;
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid white;
}
#three {
    display: none;
}